
input {
    margin-top: 10px;
}

button:hover {
    color: blue;
}

.text-shared {
    color: black;
    text-align: center;
    margin: 4px 0;
}

.text-shared-map {
    color: white;
    text-align: center;
    margin: 4px 0;
}

.text-result {
    font-size: large;
    font-weight: normal;
}

.text-converter {
    font-size: xx-large;
    font-weight: bold;
}

.value-text {
    display: flex;
}

.dms-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

/*fontSize="2xl" mb={4} textAlign="center" fontWeight="bold" color="black"*/


